
<h1>The Sauce</h1>

<p>
  This code was written for a <a href="http://www.cloudspokes.com/challenges/1493" target="_blank">Cloudspokes.com backbone.js</a> contest. The requirements
  were to create a backbone.js demostration using Beasty Boys songs information and
  the <a href="https://github.com/appendto/jquery-mockjax/" target="_blank">JQuery Mockjax library</a>. Below is summary of the libraries and solutions I rolled together
  to meet the requirements. 
</p>

<p>
  The following is an outline of the tools and patterns I used to build this project. I have
  moved on to build larger bb projects, but have found that this was a great starting point and
  have returned to this code a number of time to refresh my memory.

</p>

<hr>

<p>
  <img src="/assets/img/backbone.png" width="200" align="left" style="padding: 10px; border:1px solid #DFDFDF; margin: 0 20px 10px 0;"><a href="http://backbonejs.org/" target="_blank"><b>Backbone.js</b></a> v0.9.2 - 
  This is a javascript MVC library created by the developers at DocumentCloud. It provides a bare 'bones' setup of model, collection, view and router 'classes'.
</p>

<hr>

<p>
  <b><a href="https://github.com/appendto/jquery-mockjax" target="_blank">JQuery Mockjax library</a></b>
  (from <a href="http://appendto.com">appendTo</a>)
  This is a jquery plugin that provides a prototype level set of features that allow a developer 
  to mockup end point API data and calls. We have found this to be very useful when the structure 
  of an API is not finalized, but front end UI feature are needed. Using a mock setup of APIs can 
  really help speed up the development and testing when started in the browser.
</p> 

<hr>

<p>
  <img src="/assets/img/requirejs.png" width="100" align="right" style="padding: 10px; border:1px solid #DFDFDF; margin: 0 20px 10px 20px;"> 

  <b><a href="http://requirejs.org/" target="_blank">Require.js</a></b>
  This was my first real go at getting require.js and the AMD pattern into
  practice. Getting familiar with the inner working of require was great,
  as it helped get my code production ready. 
</p>

<hr>

<p>
  <b><a href="http://gruntjs.com/" target="_blank">Grunt.js</a></b>
  This is great library + build tool that makes the special sauce of 
  backbone, require and twitter work well together. It worth the time
  to explore, as it will help speed up your code and roll outs. It is 
  worth noting that grunt handles a lot of the everyday development and
  deloyment tasks, the following project makes it backbone friendly.
</p>

<hr>

<p>
  <b><a href="https://github.com/backbone-boilerplate/grunt-bbb" target="_blank">Backbone for Grunt (grunt-bbb)</a></b>
  This library extends the grunt.js task pattern to provide backbone.js 
  specific tools for setting up modules, require.js build tasks and 
  examples. While it took a while to get right, as the documentation assumes
  a lot for someone new to require.js, this pattern makes dev-to-release
  work much easier and stable. 

</p>

<p>
  <b>Common commands:</b><br>
  <code>bbb release</code> - runs a full lint + jst + requirejs + concat + min + mincss to a code base.<br>
  <code>bbb server:release</code> - provides a fast node.js local dev setup of the a projects distribution
  code.
</p>

<hr>

<p>
  <b><a href="http://www.west-wind.com/weblog/posts/2008/Aug/21/A-simple-jQuery-Client-Centering-Plugin" target="_blank">JQuery CenterInClient</a></b>
  This is a jquery plugin that makes it easy to center a div within 
  a container. Thanks to Rick Strahl for a helpful blog. This feature will
  be removed so that the twitter-bootstrap can handle the modal content. 
</p>

<hr>

<p>
  <b><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></b>
  As a developer, I really appreciate a project that makes my normally developer-ugly web projects look nice and pretty. I tip my hat to the team that put this together! 
</p>

<hr>

<p>
  <img src="/assets/img/heroku.png" align="left" style="padding: 10px; border:1px solid #DFDFDF; margin: 0 20px 10px 0;"> <b><a href="http://heroku.com/" target="_blank">Heroku + Node.js</a></b>
  As a developer, I really appreciate a project that makes my normally developer-ugly web projects look nice and pretty. I tip my hat to the team that put this together! 
</p>
