<div class="background modal"></div>

<div class="detailmodel modal">

  <table align="center" cellspacing="5" cellpadding="10" width="100%">
    <tr>
      <td width="25%" align="right"><b>Song Name :</b></td>
      <td><%=name%></td>
    </tr>
    <tr>
      <td align="right"><b>Year :</b></td>
      <td><%=year%></td>
    </tr>
    <tr>
      <td align="right"><b>Album :</b></td>
      <td><%=album%></td>
    </tr>
    <tr>
      <td align="right"><b>Quote :</b></td>
      <td><%=quote%></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="center" style="color: gray; border-top: 1px solid gray" colspan="2">
      <i style="font-size: 8">Click anywhere to close this song detail.</i>
      </td>
    </tr>
  </table>

</div>

