
<div style="width: 800px; margin: 0px auto; color: gray; margin-bottom: 10px;">
  <h2>Backbone.js</h2>

  <p>This is an example backbone.js application, built for the Cloudspokes.com 
     code challenge in 2012. This example use Require.js, MockJax, Backbone.js
     and jQuery. The base boilerplate is a backbone.js example provides by Thomas
     Davis. Moving from a basic backbone.js to a production ready code base requires
     some planning and code structure. The require.js project helps with this 
     coding pattern.
  </p>
</div>

<div style="width: 800px; margin: 0px auto; color: gray; margin-bottom: 10px;font-size: 12px; text-align:right">
  <i>Double Click on Any Item to see details.
</div>

<div id="tablegrid" >
   <% _.each(songs, function(i) { %> 
   <div class="gridrow" id="<%= i.id %>" >
     <div class="col name" id="<%= i.id %>" >Song:<br><a class="detail" id="<%= i.id %>" href="#"><%= i.name %></a></div>
     <div class="col year" id="<%= i.id %>" >year:<br><%= i.year %>&nbsp;</div>
     <div class="col album" id="<%= i.id %>" >Album:<br><%= i.album %>&nbsp;</div>
     <div class="col length" id="<%= i.id %>" >Length:<br><%= i.length %>&nbsp;</div>
     <div class="col desc" id="<%= i.id %>" >Quote:<br><%= i.quote %>&nbsp;</div>
     <br style="clear: both">
   </div>
   <% }); %>
</div>

<div style="width: 800px; margin: 0px auto; color: gray; margin-bottom: 10px;font-size: 12px; text-align:right">
  <i>Double Click on Any Item to see details.
</div>
