
<div style="width: 800px; margin: 0px auto; color: gray; margin-bottom: 10px;">
  <h2>Backbone.js</h2>

  <p>This is an example backbone.js application, built for the Cloudspokes.com 
     code challenge in 2012. This example use Require.js, MockJax, Backbone.js
     and jQuery. The base boilerplate is a backbone.js example provides by Thomas
     Davis. Moving from a basic backbone.js to a production ready code base requires
     some planning and code structure. The require.js project helps with this 
     coding pattern.
     <br>
     <br>
     <ul>
        <li>MockJax - This is a great project for building a project that needs
          to appears to talk to an API for data. For this demo the MockJax library
          was required by the collections/beastyboys.js file. The mock API endpoint
          was defined relative to the collection definition to allow for easy 
          refactoring, in the event this code is ready to go live.
        </li>
        <li>Require.js - The entire require.js project is a learning curve in itself.
          It is not intuitive. The need for it is. Its worth the time to dig into. The
          intro for the project outlines the development approach and is worth the time
          to read. 
        </li>

     </ul>
  </p>
</div>

<div style="width: 800px; margin: 0px auto; color: gray; margin-bottom: 10px;font-size: 12px; text-align:right">
  <i>Double Click on Any Item to see details.
</div>

<div id="tablegrid" >
   <% _.each(songs, function(i) { %> 
   <div class="gridrow" id="<%= i.id %>" >
     <div class="col name" id="<%= i.id %>" >Song:<br><a class="detail" id="<%= i.id %>" href="#"><%= i.name %></a></div>
     <div class="col year" id="<%= i.id %>" >year:<br><%= i.year %>&nbsp;</div>
     <div class="col album" id="<%= i.id %>" >Album:<br><%= i.album %>&nbsp;</div>
     <div class="col length" id="<%= i.id %>" >Length:<br><%= i.length %>&nbsp;</div>
     <div class="col desc" id="<%= i.id %>" >Quote:<br><%= i.quote %>&nbsp;</div>
     <br style="clear: both">
   </div>
   <% }); %>
</div>

<div style="width: 800px; margin: 0px auto; color: gray; margin-bottom: 10px;font-size: 12px; text-align:right">
  <i>Double Click on Any Item to see details.
</div>